In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LassoCV
from sklearn.model_selection import train_test_split

In [7]:
spoilage_data = pd.read_csv(r"fully_combined_project_data.csv")

# Select Columns that are numeric
num_spoilage_data = spoilage_data.select_dtypes(include=np.number)

num_spoilage_data['earlyvlatespoilage'] = (num_spoilage_data['Total mesophilic aerobic flora (log10 CFU.g-1)'] >= 7).astype(int)

display(num_spoilage_data[['Total mesophilic aerobic flora (log10 CFU.g-1)', 'earlyvlatespoilage']])

X =  num_spoilage_data.drop('earlyvlatespoilage', axis=1)
Y = num_spoilage_data['earlyvlatespoilage']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25 , random_state=100, shuffle=True)

     Total mesophilic aerobic flora (log10 CFU.g-1)  earlyvlatespoilage
0                                              6.00                   0
1                                              5.90                   0
2                                              6.11                   0
3                                              8.44                   1
4                                              8.44                   1
..                                              ...                 ...
430                                            8.11                   1
431                                            8.32                   1
432                                            8.81                   1
433                                            8.64                   1
434                                            8.15                   1

[435 rows x 2 columns]

In [8]:
reg = LassoCV(cv=10, random_state=0).fit(X, Y)

print(f"Optimal alpha: {reg.alpha_}")
print(f"R-squared score on training data: {reg.score(X, Y):.3f}")


coefficients_df = pd.DataFrame({'Feature': X.columns, 'Coefficient': reg.coef_})

Optimal alpha: 18.494392110765084
R-squared score on training data: 0.303

In [10]:
coefficients_df = pd.DataFrame({'Feature': X.columns, 'Coefficient': reg.coef_})

coefficients_df.to_csv("lassoCV_coefs.csv")